@tailwind base;
@tailwind components;
@tailwind utilities;

.ruler {
  position: relative;
  z-index: 0;
}

.ruler::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: rgb(84, 84, 84);
  top: 0;
  bottom: 0;
  margin-left: 278px;
}
